<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Route</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">RouteType</th>
            <th scope="col">RouteTypeName</th>
            <th scope="col">RouteMediumId</th>
            <th scope="col">Created_Date</th>
            
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let route of service.list">
            
            <td>{{route.RouteType}}</td>
            <td>{{route.RouteTypeName}}</td>
            <td>{{route.RouteMediumId}}</td>
            <td>{{route.Created_Date}}</td>
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(route)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(route.RouteType)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-road"></i>Route Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="routeForm" (ngSubmit)="onSubmit()" >

                <input type="hidden" formControlName="RouteType" class="form-control">
            
            <div class="form-group">
              <label>RouteTypeName</label>
              <input formControlName="RouteTypeName" type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.RouteTypeName.errors }">
              <div *ngIf="submitted && f.RouteTypeName.errors" class="invalid-feedback">
                <div *ngIf="f.RouteTypeName.errors.required">RouteTypeName is required</div>
            </div>
            </div>
            <div class="form-group"> 
                <label>RouteMediumId</label>
                <input formControlName="RouteMediumId" type="text" class="form-control" >
            </div>
            <div class=" form-group"> 
                <label>Created_Date</label>
                <input formControlName="Created_Date" type="text" class="form-control" >
            </div>
           
              <button  class="btn btn-primary">Save changes</button>
            
          </form>
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


