<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Service</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
             
            <th scope="col">ServiceId</th>
            <th scope="col">ServiceName</th>
            <th scope="col">Charges</th>
            <th scope="col">CreatedDate</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of service.list">
            
            <td>{{service.ServiceId}}</td>
            <td>{{service.ServiceName}}</td>
            <td>{{service.Charges}}</td>
            <td>{{service.CreatedDate}}</td>
           
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(service)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(service.ServiceId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-cog"></i>Service Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="serviceForm" (ngSubmit)="onSubmit()" >

                <input type="hidden" formControlName="ServiceId" class="form-control">
            
            <div class="form-group">
              <label>ServiceName</label>
              <input formControlName="ServiceName" type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ServiceName.errors }">
              <div *ngIf="submitted && f.ServiceName.errors" class="invalid-feedback">
                <div *ngIf="f.ServiceName.errors.required">ServiceName is required</div>
            </div>
            </div>
            <div class="form-group"> 
                <label>Charges</label>
                <input formControlName="Charges" type="text" class="form-control" >
            </div>
           
            
        

              <button  class="btn btn-primary">Save changes</button>
            
          </form>
          
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


