<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Currency</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
              
            <th scope="col">CurrencyId</th>
            <th scope="col">CurrencyName</th>
            <th scope="col">CreateDate_</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of service.list">
            
            <td>{{currency.CurrencyId}}</td>
            <td>{{currency.CurrencyName}}</td>
            <td>{{currency.CreateDate_}}</td>
           
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(currency)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(currency.CurrencyId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-currency"></i>Currency Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="currencyForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="CurrencyId" class="form-control">
              
              <div class="form-group">
                <label>CurrencyName</label>
                <input formControlName="CurrencyName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.CurrencyName.errors }">
                <div *ngIf="submitted && f.CurrencyName.errors" class="invalid-feedback">
                  <div *ngIf="f.CurrencyName.errors.required">CurrencyName is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>CreateDate_</label>
                  <input formControlName="CreateDate_" type="text" class="form-control" >
              </div>
              
                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


