<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> RouteMedium</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
             
            <th scope="col">RouteMediumId</th>
            <th scope="col">RouteMediumName</th>
            <th scope="col">Created_Date</th>
           
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let RouteMedium of service.list">
            
            <td>{{RouteMedium.RouteMediumId}}</td>
            <td>{{RouteMedium.RouteMediumName}}</td>
            <td>{{RouteMedium.Created_Date}}</td>
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(RouteMedium)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(RouteMedium.RouteMediumId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-road"></i>RouteMedium Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="routeMediumForm" (ngSubmit)="onSubmit()" >

                <input type="hidden" formControlName="RouteMediumId" class="form-control">
            
            <div class="form-group">
              <label>RouteMediumName</label>
              <input formControlName="RouteMediumName" type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.RouteMediumName.errors }">
              <div *ngIf="submitted && f.RouteMediumName.errors" class="invalid-feedback">
                <div *ngIf="f.RouteMediumName.errors.required">RouteMediumName is required</div>
            </div>
            </div>
           
            

              <button  class="btn btn-primary">Save changes</button>
            
          </form>
          

              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


