<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Article</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">ArticleId</th>
            <th scope="col">ArticleName</th>
            <th scope="col">LastRead</th>
            <th scope="col">Parts</th>
            <th scope="col">Created_Date</th>
            <th scope="col">UserId</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of service.list">
            
            <td>{{article.ArticleId}}</td>
            <td>{{article.ArticleName}}</td>
            <td>{{article.LastRead}}</td>
            <td>{{article.Parts}}</td>
            <td>{{article.Created_Date}}</td>
            <td>{{article.UserId}}</td>
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(article)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(article.ArticleId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-newspaper-o"></i>Article Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form     [formGroup]="articleForm" (ngSubmit)="onSubmit()">
                  <input type="hidden" formControlName="ArticleId" class="form-control">
                  <div class="form-group">
                      <label>ArticleName</label>
                      <input formControlName="ArticleName" type="text" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.ArticleName.errors }">
                      <div *ngIf="submitted && f.ArticleName.errors" class="invalid-feedback">
                        <div *ngIf="f.ArticleName.errors.required">ArticleName is required</div>
                    </div>
                    </div>
                    <div class="form-group"> 
                        <label>LastRead</label>
                        <input formControlName="LastRead" type="text" class="form-control" >
                    </div>
                    <div class="form-group"> 
                        <label>Parts</label>
                        <input formControlName="Parts" type="text" class="form-control" >
                    </div>
                    
                    <div class="form-group"> 
                        <label>UserId</label>
                        <input formControlName="UserId" type="text" class="form-control" >
                    </div>
              
                    <button  class="btn btn-primary">Save changes</button>
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


