<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Pharmacy</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
               
            <th scope="col">PhamrmacyId</th>
            <th scope="col">PharmacyName</th>
            <th scope="col">PharmacyAddress</th>
            <th scope="col">PharmacyRegNo</th>
            <th scope="col">PharmacyContactNo</th>
            <th scope="col">PhrmacyContactNo1</th>
            <!-- <th scope="col">PharmacyEmail</th> -->
            <!-- <th scope="col">AreaId</th>
            <th scope="col">CityId</th>
            <th scope="col">ProvinceId</th>
            <th scope="col">PaymentTypeId</th>
            <th scope="col">ProductId</th>
            <th scope="col">UserId</th>
            <th scope="col">CreatedDate</th> -->

            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pharmacy of service.list">
            
            <td>{{pharmacy.PhamrmacyId}}</td>
            <td>{{pharmacy.PharmacyName}}</td>
            <td>{{pharmacy.PharmacyAddress}}</td>
            <td>{{pharmacy.PharmacyRegNo}}</td>
            <td>{{pharmacy.PharmacyContactNo}}</td>
            <td>{{pharmacy.PhrmacyContactNo1}}</td>
            <!-- <td>{{pharmacy.PharmacyEmail}}</td>
            <td>{{pharmacy.AreaId}}</td>
            <td>{{pharmacy.CityId}}</td>
            <td>{{pharmacy.ProvinceId}}</td>
            <td>{{pharmacy.PaymentTypeId}}</td>
            <td>{{pharmacy.ProductId}}</td>
            <td>{{pharmacy.UserId}}</td>
            <td>{{pharmacy.CreatedDate}}</td> -->

            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(pharmacy)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(pharmacy.PhamrmacyId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-hospital-o"></i>Pharmacy Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="pharmacyForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="PhamrmacyId" class="form-control">
              
              <div class="form-group">
                <label>PharmacyName</label>
                <input formControlName="PharmacyName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.PharmacyName.errors }">
                <div *ngIf="submitted && f.PharmacyName.errors" class="invalid-feedback">
                  <div *ngIf="f.PharmacyName.errors.required">PharmacyName is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>PharmacyAddress</label>
                  <input formControlName="PharmacyAddress" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PharmacyRegNo</label>
                  <input formControlName="PharmacyRegNo" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PharmacyContactNo</label>
                  <input formControlName="PharmacyContactNo" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PhrmacyContactNo1</label>
                  <input formControlName="PhrmacyContactNo1" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PharmacyEmail</label>
                  <input formControlName="PharmacyEmail" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>AreaId</label>
                  <input formControlName="AreaId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>CityId</label>
                  <input formControlName="CityId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>ProvinceId</label>
                  <input formControlName="ProvinceId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PaymentTypeId</label>
                  <input formControlName="PaymentTypeId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>ProductId</label>
                  <input formControlName="ProductId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>UserId</label>
                  <input formControlName="UserId" type="text" class="form-control" >
              </div>
             
              
             
          

                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


