<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Medicine</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
              
            <th scope="col">MedicineId</th>
            <th scope="col">MedicineName</th>
            <th scope="col">MedicineManufacturinDate</th>
            <th scope="col">MedicineExpiryDate</th>
            <th scope="col">MedicineStock</th>
            <th scope="col">MedicineUnit</th>
            <th scope="col">PharmacyId</th>
            <th scope="col">Created_Date</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of service.list">
            
            <td>{{medicine.MedicineId}}</td>
            <td>{{medicine.MedicineName}}</td>
            <td>{{medicine.MedicineManufacturinDate}}</td>
            <td>{{medicine.MedicineExpiryDate}}</td>
            <td>{{medicine.MedicineStock}}</td>
            <td>{{medicine.MedicineUnit}}</td>
            <td>{{medicine.PharmacyId}}</td>
            <td>{{medicine.Created_Date}}</td>
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(medicine)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(medicine.MedicineId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-medkit"></i>Medicine Form</h4>
              </div> 
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="medicineForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="MedicineId" class="form-control">
              
              <div class="form-group">
                <label>MedicineName</label>
                <input formControlName="MedicineName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.MedicineName.errors }">
                <div *ngIf="submitted && f.MedicineName.errors" class="invalid-feedback">
                  <div *ngIf="f.MedicineName.errors.required">MedicineName is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>MedicineManufacturinDate</label>
                  <input formControlName="MedicineManufacturinDate" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>MedicineExpiryDate</label>
                  <input formControlName="MedicineExpiryDate" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>MedicineStock</label>
                  <input formControlName="MedicineStock" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>MedicineUnit</label>
                  <input formControlName="MedicineUnit" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>PharmacyId</label>
                  <input formControlName="PharmacyId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>Created_Date</label>
                  <input formControlName="Created_Date" type="text" class="form-control" >
              </div>
             
          

                <button  class="btn btn-primary">Save changes</button>
              
            </form>
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


