<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> PaymentDetailSetup</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
              
            <th scope="col">PaymentTypeId</th>
            <th scope="col">PaymentName</th>
            <th scope="col">PaymentMedium</th>
            <th scope="col">Created_Date</th>
           
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pds of service.list">
            
            <td>{{pds.PaymentTypeId}}</td>
            <td>{{pds.PaymentName}}</td>
            <td>{{pds.PaymentMedium}}</td>
            <td>{{pds.Created_Date}}</td>
            
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(pds)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(pds.PaymentTypeId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-credit-card "></i>PaymentDetailSetup Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="paymentDetailSetupForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="PaymentTypeId" class="form-control">
              
              <div class="form-group">
                <label>PaymentName</label>
                <input formControlName="PaymentName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.PaymentName.errors }">
                <div *ngIf="submitted && f.PaymentName.errors" class="invalid-feedback">
                  <div *ngIf="f.PaymentName.errors.required">PaymentName is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>PaymentMedium</label>
                  <input formControlName="PaymentMedium" type="text" class="form-control" >
              </div>
              
              <div class=" form-group"> 
                  <label>Created_Date</label>
                  <input formControlName="Created_Date" type="text" class="form-control" >
              </div>
             
          

                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


