<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> City</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
           
            <th scope="col">CityId</th>
            <th scope="col">CityName</th>
            <th scope="col">ProvinceId</th>
            <th scope="col">CreatedDate_</th>
            
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of service.list">
            
            <td>{{city.CityId}}</td>
            <td>{{city.CityName}}</td>
            <td>{{city.ProvinceId}}</td>
            <td>{{city.CreatedDate_}}</td>
           
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(city)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(city.CityId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-building"></i>City Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="cityForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="CityId" class="form-control">
              
              <div class="form-group">
                <label>CityName</label>
                <input formControlName="CityName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.CityName.errors }">
                <div *ngIf="submitted && f.CityName.errors" class="invalid-feedback">
                  <div *ngIf="f.CityName.errors.required">CityName is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>ProvinceId</label>
                  <input formControlName="ProvinceId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>CreatedDate_</label>
                  <input formControlName="CreatedDate_" type="text" class="form-control" >
              </div>
              
                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


