<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Ambulance</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr >
            
            <th scope="col">AmbulanceId</th>
            <th scope="col">AmbulanceName</th>
            <th scope="col">DriverId</th>
            <th scope="col">AmbulanceOriginPoint</th>
            <th scope="col">ServiceId</th>
            <th scope="col">UserId</th>
            <th scope="col">Created_Date</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let amb of service.list">
            
           
              <td>{{amb.AmbulanceId}}</td>
              <td>{{amb.AmbulanceName}}</td>
              <td>{{amb.DriverId}}</td>
              <td>{{amb.AmbulanceOriginPoint}}</td>
              <td>{{amb.ServiceId}}</td>
              <td>{{amb.UserId}}</td>
              <td>{{amb.Created_Date}}</td>
             

           
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(amb)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(amb.AmbulanceId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-ambulance"></i>Ambulance Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="ambulanceForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="AmbulanceId" class="form-control">
              
              <div class="form-group">
                <label>Ambulance</label>
                <input formControlName="AmbulanceName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.AmbulanceName.errors }">
                <div *ngIf="submitted && f.AmbulanceName.errors" class="invalid-feedback">
                  <div *ngIf="f.AmbulanceName.errors.required">Ambulance Name is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>DriverId</label>
                  <input formControlName="DriverId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>AmbulanceOriginPoint</label>
                  <input formControlName="AmbulanceOriginPoint" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>ServiceId</label>
                  <input formControlName="ServiceId" type="text" class="form-control" >
              </div>
              <div class=" form-group"> 
                  <label>UserId</label>
                  <input formControlName="UserId" type="text" class="form-control" >
              </div>
              <!-- <div class=" form-group"> 
                  <label>Created_Date</label>
                  <input formControlName="Created_Date" type="text" class="form-control" >
              </div> -->
             
          

                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>

