<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Area</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">AreaId</th>
            <th scope="col">AreaName</th>
            <th scope="col">CityId</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let area of service.list">
            
           
                <td>{{area.AreaId}}</td>
                <td>{{area.AreaName}}</td>
                <td>{{area.CityId}}</td>
                
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(area)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(area.AreaId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-area-chart"></i>Area Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="areaForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="AreaId" class="form-control">
              
              <div class="form-group">
                <label>AreaName</label>
                <input formControlName="AreaName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.AreaName.errors }">
                <div *ngIf="submitted && f.AreaName.errors" class="invalid-feedback">
                  <div *ngIf="f.AreaName.errors.required">Area Name is required</div>
              </div>
              </div>
              <div class="form-group"> 
                  <label>CityId</label>
                  <input formControlName="CityId" type="text" class="form-control" >
              </div>
             
                <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


