<h1>sdfdsfvskdnvskjvkdsvkdsv nkds nvksdv ks</h1>
<div class="doctorprofile">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      
        <nz-tabset [nzTabPosition]="'text-center'" [nzType]="'card'">
          <nz-tab *ngFor="let tab of tabs1" [nzTitle]="titleTemplate">
              <ng-template  #titleTemplate> <i nz-icon [nzType]="tab.icon"></i><span style="    letter-spacing: 2px;">{{ tab.name }}</span> </ng-template> 
              <div class="personalinfo">
                <form action="">
                  <div class="row">
                    <div class="col-8">
                        <div class="form-group" >
                             <label>Name:</label> 
                            <input ftype="text" placeholder="Please Enter your Name" class="form-control" >
                        </div>
                        <div class="form-group" >
                            <label>Father/Husban Name:</label> 
                           <input ftype="text" placeholder="Please Enter your Father/Husband Name" class="form-control" >
                       </div>
                       <div class="form-group" >
                          <label>CNIC:</label> 
                         <input ftype="text" placeholder="Please Enter your CNIC number(Without Dashes)" class="form-control" >
                     </div>
                     <div class="row">
                       <div class="col-6">
                          <div class="form-group" >
                              <label>Mobile No:</label> 
                             <input ftype="text" placeholder="0123 1234567" class="form-control" >
                         </div>
                       </div>
                       <div class="col-6">
                          <div class="form-group" >
                              <label>Another Number:</label> 
                             <input ftype="text" placeholder="0123 1234567" class="form-control" >
                         </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-6">
                           <div class="form-group" >
                               <label>Gender:</label> 
                              <select name="" id="" class="form-control">
                                <option value="">
                                  Male
                                </option>
                                <option value="">
                                  Female
                                </option>
                                <option value="">
                                  Other
                                </option>
                              </select>
                          </div>
                        </div>
                        <div class="col-6">
                           <div class="form-group" >
                               <label>Date of Birth:</label> 
                              <input ftype="text"  class="form-control" >
                          </div>
                         </div>
                      </div>
                    </div>
                    <div class="col-4">
                      
                      </div>
                  </div>
                </form>
              </div>
          </nz-tab>
          <nz-tab *ngFor="let tab of tabs2" [nzTitle]="titleTemplate">
              <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i><span style="    letter-spacing: 2px;">{{ tab.name }}</span> </ng-template> 
              Content of Tab Pane 2
          </nz-tab>
          <nz-tab *ngFor="let tab of tabs3" [nzTitle]="titleTemplate">
              <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i><span style="    letter-spacing: 2px;">{{ tab.name }}</span> </ng-template> 
              Content of Tab Pane 3
          </nz-tab>
          <nz-tab *ngFor="let tab of tabs4" [nzTitle]="titleTemplate">
              <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i><span style="    letter-spacing: 2px;">{{ tab.name }}</span></ng-template> 
              Content of Tab Pane 4
          </nz-tab>
        </nz-tabset>
     
    </div>
    <div class="col-2">
      
    </div>
  </div>
</div>








<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Doctor</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Doctor</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">SysDoctorId</th>
            <th scope="col">DoctorName</th>
            <th scope="col">SysClinicId</th>
            <th scope="col">ContactNo_ </th>
            <th scope="col">SysHospitalId</th>
            <th scope="col">DoctorWhatsapp</th>
            <th scope="col">DoctorEmail</th>
            <!-- <th scope="col">CreatedDate</th> -->
            <!-- <th scope="col">ServiceId</th>
            <th scope="col">Reg. No</th>
            <th scope="col">CNIC</th>
            <th scope="col">DOB</th>
            <th scope="col">FatherHusband</th>
            <th scope="col">IssueDate</th>
            <th scope="col">validitydate</th>
            <th scope="col">MartialStatus</th>
            <th scope="col">Gender</th>
            <th scope="col">Qualification</th>
            <th scope="col">Institute </th>
            <th scope="col">year</th>
            <th scope="col">country</th>
            <th scope="col">PermanentAddress</th>
            <th scope="col">HospitalClinicAddress</th> -->
         
            

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of service.list" >
            
            <td>{{doc.SysDoctorId}}</td>
            <td>{{doc.DoctorName}}</td>
            <td>{{doc.SysClinicId}}</td>
            <td>{{doc.ContactNo_}}</td>
            <td>{{doc.SysHospitalId}}</td>
            <td>{{doc.DoctorWhatsapp}}</td>
            <td>{{doc.DoctorEmail}}</td>
            <!-- <td>{{doc.CreatedDate}}</td> -->
            <!-- <td>{{doc.ServiceId}}</td>
            <td>{{doc.RegNo}}</td>
            <td>{{doc.CNIC}}</td>
            <td>{{doc.DOB}}</td>
            <td>{{doc.FatherHusband}}</td>
            <td>{{doc.IssueDate}}</td>
            <td>{{doc.validitydate}}</td>
            <td>{{doc.MartialStatus}}</td>
            <td>{{doc.Gender}}</td>
            <td>{{doc.Qualification}}</td>
            <td>{{doc.Institute}}</td>
            <td>{{doc.year}}</td>
            <td>{{doc.country}}</td>
            <td>{{doc.PermanentAddress}}</td>
            <td>{{doc.HospitalClinicAddress}}</td> -->
            
            
            
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(doc)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(doc.SysDoctorId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-user-md"></i>Doctor Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="doctorForm" (ngSubmit)="onSubmit()" >

                  <input type="hidden" formControlName="SysDoctorId" class="form-control">
              
              <div class="form-group">
                <label>Doctor</label>
                <input formControlName="DoctorName" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.DoctorName.errors }">
                <div *ngIf="submitted && f.DoctorName.errors" class="invalid-feedback">
                  <div *ngIf="f.DoctorName.errors.required">Doctor Name is required</div>
              </div>
      
              
              </div>
              
              <div class="form-row">
                <div class="col-md-6 form-group"> 
                    <label>CNIC</label>
                    <input formControlName="CNIC" class="form-control" >
                </div>
                <div class="col-md-6 form-group" >
                    <label>Father/Husband</label> 
                    <input formControlName="FatherHusband" type="text" class="form-control" >
                </div>
                
              </div>
              <div class="form-group" > 
                <label>Reg No</label> 
                <input formControlName="RegNo" type="text" class="form-control" >
            </div>
            <div class="form-group" >
              <label>DoctorWhatsapp</label> 
              <input formControlName="DoctorWhatsapp" type="text" class="form-control" >
          </div>
              <div class="form-row">
                <div class="col-md-4 form-group"> 
                    <label>Clinic Id</label>
                    <input formControlName="SysClinicId" class="form-control" >
                </div>
                <div class="col-md-4 form-group"> 
                  <label>Hospital Id</label>
                  <input formControlName="SysHospitalId" class="form-control" >
              </div>
                <div class="col-md-4 form-group" >
                    <label>Service Id</label> 
                    <input formControlName="ServiceId" type="text" class="form-control" >
                </div>
              </div>
               <div class="form-row">
                  <div class="col-md-6 form-group" > 
                      <label>DOB</label>
                      <input formControlName="DOB" type="text" class="form-control" >
                  </div>
                  <div class="col-md-6 form-group">
                      <label>ContactNumber</label>
                      <input formControlName="ContactNo_" type="text" class="form-control" >
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 form-group">
                      <label>MartialStatus</label>
                      <select formControlName="MartialStatus" class="form-control" >
                          
                          <option value="Single">Single</option>
                          <option value="Married">Married</option>
                          
                        </select>
                  </div>
                  <div class="col-md-6 form-group" >
                      <label>Gender</label>
                      <select formControlName="Gender" class="form-control" >
                        
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                  </div>
                </div>
              
              <div>
                  <label>Qualification</label>
                <table class="table table-bordered" style="background-color:white; width: 400;">
                  <thead >
                    <tr>
                      <th scope="col" style="width:12%">Qualification</th>
                      <th scope="col" style="width:12%">Year</th>
                      <th scope="col" style="width:12%">Institute</th>
                      <th scope="col" style="width:12%">Country</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr >
                      <td><input formControlName="Qualification" type="text" style="border:none;     width: 100px;"></td>
                      <td><input formControlName="year" type="text" style="border:none;    width: 100px;"></td>
                      <td><input formControlName="Institute" type="text" style="border:none;     width: 100px;"></td>
                      <td><input formControlName="country" type="text" style="border:none;     width: 100px;"></td>
                    </tr>
                  </tbody>
                </table> 
              </div>
               
                  
                  <div class="form-row" >
                        <div class="col-md-6 form-group" > 
                            <label>Email</label>
                            <input formControlName="DoctorEmail" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.DoctorEmail.errors }" >
                            <div *ngIf="submitted && f.DoctorEmail.errors" class="invalid-feedback">
                              <div *ngIf="f.DoctorEmail.errors.required">Email is required</div>
                              <div *ngIf="f.DoctorEmail.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                        <div class="col-md-6 form-group" >
                            <label>Specialization</label>
                            <input formControlName="Specialization" type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="form-group">
                          <label>PresentAddress</label>
                          <input formControlName="PresentAddress" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label>PermanentAddress</label>
                            <input formControlName="PermanentAddress" type="text" class="form-control" >
                          </div>
                          <div class="form-group">
                            <label>Hospital/Clinic Address</label>
                            <input formControlName="HospitalClinicAddress" type="text" class="form-control" >
                          </div>
                          
                            <div class="form-row">
                                <div class="col-md-12 form-group"> 
                                    <label>Validity Date</label>
                                    <input formControlName="validitydate" type="text" class="form-control" >
                                </div>
                                <div class="col-md-6 form-group" >
                                    <label>Issue Date</label>
                                    <input formControlName="IssueDate" type="text" class="form-control" >
                                </div>
                              </div> 

                              <button  class="btn btn-primary">Save changes</button>
              
            </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <button routerLink="/patient" type="button" class="btn btn-secondary">Patient</button>
      </div>
