<div>
    <button routerLink="/patient" type="button" class="btn btn-secondary">Patient</button>


    <button routerLink="/doctor" type="button" class="btn btn-secondary">Doctor</button>

    <button routerLink="/ambulance" type="button" class="btn btn-secondary">Ambulance</button>

    <button routerLink="/pharmacy" type="button" class="btn btn-secondary">Pharmacy</button>

    <button routerLink="/city" type="button" class="btn btn-secondary">City</button>

    <button routerLink="/route" type="button" class="btn btn-secondary">Route</button>

    <button routerLink="/routemedium" type="button" class="btn btn-secondary">RouteMedium</button>

    <button routerLink="/province" type="button" class="btn btn-secondary">Province</button>

    <button routerLink="/service" type="button" class="btn btn-secondary">Service</button>

    <button routerLink="/medicine" type="button" class="btn btn-secondary">Medicine</button>

    <button routerLink="/paymentdetailsetup" type="button" class="btn btn-secondary">PaymentDetailsetup</button>

    <button routerLink="/area" type="button" class="btn btn-secondary">Area</button>

    <button routerLink="/article" type="button" class="btn btn-secondary">Article</button>

    <button routerLink="/currency" type="button" class="btn btn-secondary">Currency</button>

</div>