<div class="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center"> Province</h3>
  <div class="container">
   
      <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
             
            <th scope="col">ProvinceId</th>
            <th scope="col">ProvinceName</th>
            <th scope="col">CreatedDate</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let province of service.list">
            
            <td>{{province.ProvinceId}}</td>
            <td>{{province.ProvinceName}}</td>
            <td>{{province.CreatedDate}}</td>
            
            <td><button type="button" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal" (click)="populateForm(province)" ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
              <button type="button" class="btn btn-danger btn-sm " (click)="onDelete(province.ProvinceId)">  <span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          
        </tbody>
      
      </table>
      
      
      
      <div class="container">
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title"><i class="fa fa-map"></i>Province Form</h4>
              </div>
              <div class="modal-body">
              <!--=============form==============-->
      
              <form   [formGroup]="provinceForm" (ngSubmit)="onSubmit()" >

                <input type="hidden" formControlName="ProvinceId" class="form-control">
            
            <div class="form-group">
              <label>ProvinceName</label>
              <input formControlName="ProvinceName" type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ProvinceName.errors }">
              <div *ngIf="submitted && f.ProvinceName.errors" class="invalid-feedback">
                <div *ngIf="f.ProvinceName.errors.required">ProvinceName is required</div>
            </div>
            </div>
            <div class="form-group"> 
                <label>CreatedDate</label>
                <input formControlName="CreatedDate" type="text" class="form-control" >
            </div>
          
              <button  class="btn btn-primary">Save changes</button>
            
          </form>
            
      
              <!--=============end form===========-->
      
                 <!-- Default form register -->
                 </div>
                 <div class="modal-footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>


