<div class="jumbotron jumbotron-fluid">
    <h3 class="display-4 text-center"> Patient</h3>
    <div class="container">
     
        <button class="btn btn-sm btn-info text-white"  data-toggle="modal"  data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>  Add Patient</button>
        <br>
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">PatientId</th>
              <th scope="col">Patient</th>
              <th scope="col">Father/Husband</th>
              <th scope="col">ContactNo</th>
              <th scope="col">DoctorWhatsapp</th>
              <th scope="col">DoctorEmail</th>
              <th scope="col">PaymentTypeId</th>
              <th scope="col">CreatedDate</th>
              <!-- <th scope="col">CNIC</th>
              <th scope="col">DOB</th>
              <th scope="col">MartialStatus</th>
              <th scope="col">Gender</th>
              <th scope="col">PermanentAddress</th>
              <th scope="col">PresentAddress</th>
              <th scope="col">MonthlyIncome</th> -->


              
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pnt of service.list">
              
              <td>{{pnt.SysPatientId}}</td>
              <td>{{pnt.PatientName}}</td>
              <td>{{pnt.FatherHusband}}</td>
              <td>{{pnt.ContactNo_}}</td>
              <td>{{pnt.DoctorWhatsapp}}</td>
              <td>{{pnt.DoctorEmail}}</td>
              <td>{{pnt.PaymentTypeId}}</td>
              <td>{{pnt.CreatedDate}}</td>
              <!-- <td>{{pnt.CNIC}}</td>
              <td>{{pnt.DOB}}</td>
              <td>{{pnt.MartialStatus}}</td>
              <td>{{pnt.Gender}}</td>
              <td>{{pnt.PermanentAddress}}</td>
              <td>{{pnt.PresentAddress}}</td>
              <td>{{pnt.MonthlyIncome}}</td> -->

              
              <td><button type="button" (click)="populateForm(pnt)" class="btn btn-warning btn-sm "  data-toggle="modal"  data-target="#myModal"  ><span class="glyphicon glyphicon-pencil"> </span>  </button>  
                <button type="button" (click)="onDelete(pnt.SysPatientId)" class="btn btn-danger btn-sm ">  <span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            
          </tbody>
        
        </table>
        
        
        
        <div class="container">
          <!-- Modal -->
          <div class="modal fade " id="myModal" role="dialog">
            <div class="modal-dialog modal-lg ">
              <div class="modal-content">
                <div class="modal-header">
                  
                  <h4 class="modal-title"><i class="fa fa-wheelchair"></i>Patient Form</h4>
                </div>
                <div class="modal-body">
                <!--=============form==============-->
        
                <form  [formGroup]="patientForm" (ngSubmit)="onSubmit()" >
                    <input type="hidden" formControlName="SysPatientId" class="form-control">
                
                <div class="form-group">
                  <label>PatientName</label>
                  <input formControlName="PatientName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.PatientName.errors }" >
                  <div *ngIf="submitted && f.PatientName.errors" class="invalid-feedback">
                      <div *ngIf="f.PatientName.errors.required">Patient Name is required</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 form-group"> 
                      <label>CNIC</label>
                      <input formControlName="CNIC" class="form-control" >
                  </div>
                  <div class="col-md-6 form-group" >
                      <label>Father/Husband</label> 
                      <input formControlName="FatherHusband" type="text" class="form-control" >
                  </div>
                </div>
                 <div class="form-row">
                    <div class="col-md-6 form-group" > 
                        <label>DOB</label>
                        <input formControlName="DOB" type="text" class="form-control" >
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ContactNumber</label>
                        <input formControlName="ContactNo_" type="text" class="form-control" >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>MartialStatus</label>
                        <select formControlName="MartialStatus" class="form-control" >
                            
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            
                          </select>
                    </div>
                    <div class="col-md-6 form-group" >
                        <label>Gender</label>
                        <select formControlName="Gender" class="form-control" >
                          
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                          </select>
                    </div>
                  </div>
                
                 
                    
                    <div class="form-row">
                          <div class="col-md-6 form-group" > 
                              <label>DoctorEmail</label>
                              <input formControlName="DoctorEmail" class="form-control" >
                          </div>
                          <div class="col-md-6 form-group" >
                              <label>Monthly Income</label>
                              <input formControlName="MonthlyIncome" type="text" class="form-control" >
                          </div>
                        </div>
                        <div class="form-group">
                            <label>PresentAddress</label>
                            <input formControlName="PresentAddress" type="text" class="form-control" >
                          </div>
                          <div class="form-group">
                              <label>PermanentAddress</label>
                              <input formControlName="PermanentAddress" type="text" class="form-control" >
                            </div>
                            
                                <div class=" form-group" > 
                                    <label>DoctorWhatsApp</label>
                                    <input formControlName="DoctorWhatsapp" type="text" class="form-control" >
                                </div>
                                
                             
                              <div class="form-row">
                                  <div class="col-md-6 form-group"> 
                                      <label>PaymentTypeId</label>
                                      <input formControlName="PaymentTypeId"  type="text" class="form-control" >
                                  </div>
                                  <div class="col-md-6 form-group" >
                                      <label>Created Date</label>
                                      <input formControlName="CreatedDate" type="text" class="form-control" >
                                  </div>
                                </div> 
                    
                  <button  class="btn btn-primary">Save changes</button>
                
              </form>
              
        
                <!--=============end form===========-->
        
                   <!-- Default form register -->
                   </div>
                   <div class="modal-footer">
                     
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
         
        
            
        
    </div>
  </div>

